<div style="color: red;">
  <% flash.each do |key, value| %>
    <% if key == 'failure' %>
      <ul>
        <% value.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
